<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.up.fe.cmov.traincompany"
    android:versionCode="1"
    android:versionName="1.0" >
 
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".Lines"
            android:label="@string/label_lines" >
        </activity>
        <activity
            android:name=".Stations"
            android:label="@string/label_stations" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/label_about" >
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Trips"
            android:label="@string/label_trips" >
        </activity>
        <activity
            android:name=".LineView"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".TripView" >
        </activity>
        <activity
            android:name=".MakeReservation"
            android:label="@string/title_activity_make_reservation" >
        </activity>
        <activity
            android:name=".GetTrips"
            android:label="@string/title_activity_get_trips" >
        </activity>
        <activity
            android:name=".Reservations"
            android:label="@string/title_activity_reservations" >
        </activity>
        <activity
            android:name=".ReservationView"
            android:label="@string/title_activity_reservation_view" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>